{% extends 'base.html' %}
{% load static %}
{% block title %}Задачи{% endblock %}

{% block content %}
<h1>Задачи проекта: {{ project.title }}</h1>

{% if project %}
    <a href="{% url 'projects:tasks:task_create' project.id %}" class="btn btn-primary">Создать задачу</a>
{% else %}
    <p>Проект не найден.</p>
{% endif %}

<ul class="task-list">
    {% for task in task_list %}
        <li class="task-item">
            <h2>{{ task.title }}</h2>
            <p><strong>Описание:</strong> {{ task.description }}</p>
            <p><strong>Статус:</strong> {{ task.get_status_display }}</p>
            <p><strong>Назначена:</strong> {{ task.assigned_to.username|default:"Не назначена" }}</p>
            <p><strong>Срок выполнения:</strong> {{ task.deadline|default:"Не указан" }}</p>
            <p><strong>Решение:</strong> {{ task.solution|default:"Не предоставлено" }}</p>
            <p><strong>Ветка:</strong> {{ task.code_branch|default:"Не указана" }}</p>
        </li>
    {% empty %}
        <li>Нет задач для этого проекта.</li>
    {% endfor %}
</ul>
{% endblock %}