{% extends "base.html" %}
{% load static %}

{% block content %}
    {% if not user.is_authenticated %}
        <!-- Основная часть -->
        <main>
            <h1>ДОБРО ПОЖАЛОВАТЬ В СИСТЕМУ УПРАВЛЕНИЯ ПРОЕКТАМИ</h1>
            <div class="buttons">
                <button class="role-button" id="reg-button" >Регистрация</button>
                <button class="role-button" id="entry-button">Вход</button>
            </div>
        </main>

        <!-- Модальные окна -->
        <div id="modal-entry" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Авторизация</h5>
                    <button type="button" class="btn-close" onclick="closeModal('modal-entry')">&times;</button>
                </div>
                <form action="{% url 'users:login'  %}" method="post">
                    {% csrf_token %}
                    {{ login_form.as_p }}
                    <button class="button" type="submit">Войти</button>
                </form>
            </div>
        </div>
        
        <div id="modal-reg" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Регистрация</h5>
                    <button type="button" class="btn-close" onclick="closeModal('modal-reg')">&times;</button>
                </div>
                <form id="registration-form" action="{% url 'users:register'  %}" method="post">
                    {% csrf_token %}
                    {{ register_form.as_p }}
                    <button class="button" type="submit">Зарегистрироваться</button>
                </form>
            </div>
        </div>
        <script src="{% static 'deps/js/index.js' %}"></script>
    {% else %}
    <div class="buttons">
        <a href="{% url 'users:logout' %}">
            <button>Выйти</button>
        </a>
    </div>
    {% endif %}
    
{% endblock %}