{% extends "base.html" %}
{% load static %}



{% block content %}
    {% if not user.is_authenticated %}
        <!-- Основная часть -->
        <main>
            <h1>ДОБРО ПОЖАЛОВАТЬ В СИСТЕМУ УПРАВЛЕНИЯ ПРОЕКТАМИ</h1>
            <div class="buttons">
                <!-- <button class="role-button" id="teacher-button">Преподаватель</button> -->
                <button class="role-button" id="entry-button">Вход</button>
            </div>
        </main>

        <!-- Модальные окна -->
        <div id="modal-entry" class="modal">
            <div class="modal-content">
                <h2>Войти&nbsp;&nbsp;в&nbsp;&nbsp;личный&nbsp;&nbsp;кабинет</h2>
                <form action="{% url 'users:login'  %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Войти</button>
                </form>
            </div>
        </div>
        <script src="/static/deps/css/index.js"></script>
    {% else %}
    <div class="buttons">
        <a href="{% url 'users:logout' %}">
            <button>Выйти</button>
        </a>
    </div>
    {% endif %}
    
{% endblock %}